{% extends "website/base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        
        <br>


        <div class="row">
            <div class="col-6">
                <img class="about-image"
                     src="{% static "website/images/easymeal.jpg" %}" alt="">
            </div>
            <div class="col-6">
                <h3> About Us </h3>
                <br>
                <p>"Easy Meal" is a website devoted to food and cooking, designed to help users find a recipe from the products they have in their kitchen. The goal of creating a website is to reduce food waste, saving time and money.</p>

            </div>
        </div>
    </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
{% endblock content %}
